<h1> Stupid Coaching Challenge</h1>

<div class="asker">
  <p><%= @question %></p>
  <p class="speaker">-You</p>
</div>

<div id="coach" class="coach">
  <p><b><%= @answer %></b></p>
  <p class="speaker">-Your Coach</p>
</div>

<%= link_to "ask another question", ask_path%>
