<h1>What would you like to know?!</h1>

<p> We take a max of three questions. </p>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
